@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	font-family: Roboto, Arial, sans-serif;
	color: #f2f2f2;
	font-size:16px;
	background-image:url(slike/background-image.jpg);
	background-size:cover;
}
/* Navbar container */
#wraper{
	overflow:hidden;
}

.nav {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}
/* Links inside the navbar */

.nav a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 20px 45px;
  text-decoration: none;
}
.only {
	margin-left: 450px;
}
/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 20px 45px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.nav a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;

}


/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  
}
.nav input[type=text] {
  float: right;
  padding: 10px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}



#nada{ 
	margin-top:100px;
      
      justify-content: center;
      font-family: Roboto, Arial, sans-serif;
      font-size: 15px;
     }
      input[type=text], input[type=password] {
      width: 100%;
      padding: 16px 8px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      }
 
      button {
      background-color: #4286f4;
      color: white;
      padding: 14px 0;
      margin: 10px 0;
      border: none;
      cursor: grab;
      width: 48%;
      }
      h1 {
      text-align:center;
      fone-size:18;
      }
      button:hover {
      opacity: 0.8;
      }
      .formcontainer {
      text-align: center;
      margin: 24px 50px 12px;
      }
	  
  
  
    